{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Date</th>
              <th>Heure</th>
              <th>Adresse</th>
              <th>Prix adhérent</th>
              <th>Prix non adhérent</th>
              <th>Status</th>
              <th>Actions</th>

            </tr>
          </thead>

          <tbody>
            {% for event in events%}
            <tr>
              <td>{{ event.Nom }}</td>
              <td>{{ event.Date | date('d/m/Y') }}</td>
              <td>{{ event.Heure | date('H') }}h{{ event.Heure | date('i') }}</td>
              <td>{{ event.Adresse }}</td>
              <td> {{ event.PrixAdherent}}€ </td>
              <td>{{ event.PrixNonAdherent}}€</td>
              <td></td>
              <td>
                  <a href="" ><i class="material-icons"> edit</i></a>
                  <a href="" ><i class="material-icons"> delete</i></a>
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
</div>

{% endblock %}
